body {
  background-color: rgb(66, 66, 66);
  font-family: "Nunito", sans-serif;
  color: rgb(234, 234, 234);

  display: flex;
  flex-direction: row;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(41, 41, 41);

  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 80vw;
  min-height: 100vh;

  padding: 0 2em;
}

header {
  display: flex;
  flex-direction: row;
}

.logo {
  fill: url(#GradientFill);
  width: 1.5em;
  height: 1.5em;
  font-size: 2em;
  margin: 0.67em;
  margin-left: 0;
}

.logo stop {
  transition: 0.4s ease;
}

.logo:hover stop:first-child {
  stop-color: #ff66b3;
}
.logo:hover stop:last-child {
  stop-color: #39a9db;
}

header h1 {
  flex-grow: 1;
}

.login-inputs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.no-trips h3:last-child {
  cursor: pointer;
  color: #39a9db;
  text-decoration: none;
}

.home-trips {
  padding: 1em;
  margin-bottom: 2em;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: dashed;
}

input {
  margin: 1em;
  margin-left: 0;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
  padding: 0.5em;
}

.new-trip-form input {
  font-size: 1em;
  padding: 0.5em;
  width: 15em;
}

select {
  color: #3b3b3b;
  border: none;
  border-radius: 0.2em;
  font-size: 1em;
  padding: 0.5em;
}

.navigation {
  text-align: center;
  color: white;
}
.nav-link {
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.app {
  gap: 1em;
}
.nav-link:first-of-type {
  margin-left: 0;
}

.trip-list {
  list-style-type: none;
  padding: 0;
}

.trip-card {
  padding: 1em;
  margin-bottom: 2em;
}

.trip-card h2 {
  margin: 0;
}

.trip-card:nth-child(even) {
  background-color: #343434;
}

button {
  padding: 1em;
  background-color: #666666;
  border: none;
  border-radius: 0.7em;
  color: #e0e0e0;
  font-weight: 600;
}

button.delete-button {
  background-color: #881111;
}

.nav-link:last-of-type {
  margin-right: 0;
}

.nav-link:hover {
  background-color: rgb(19, 68, 94);
  color: rgb(255, 255, 255);
}

.unselected {
  background-color: rgb(28, 28, 28);
  color: rgb(255, 255, 255);
}

.selected {
  color: rgb(71, 169, 68);
  text-decoration: none;
}
