body {
  background-color: rgb(66, 66, 66);
  font-family: "Nunito", sans-serif;
  color: rgb(234, 234, 234);
}

.app {
  margin: 0 auto;
  max-width: 1200px;
  background-color: rgb(41, 41, 41);
  text-align: left;
}

.logo {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Oswald", sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  cursor: auto;
}

.navigation {
  text-align: center;
  color: white;
}
.nav-link {
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.nav-link:hover {
  background-color: rgb(19, 68, 94);
  color: rgb(255, 255, 255);
}

.unselected {
  background-color: rgb(28, 28, 28);
  color: rgb(255, 255, 255);
}

.selected {
  color: rgb(71, 169, 68);
  text-decoration: none;
}
